input[type="checkbox"]:checked + label {
  opacity: .5;
  text-decoration: line-through;
}

label {
  font-size: 20px;
  font-family: monospace;
  padding-left: .5em;
}

input {
  height: 20px;
  width: 20px;
}

.todo {
  padding-bottom: .5em;
  display: flex;
  align-items: center;
}

body {
  padding: 20px;
  font-family: monospace;
}

h1 {
  font-family: monospace;
}